*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #243143,
    #4b75e9,
    #fe90e7,
    #fd3499
  );
  font-family: "Poppins", sans-serif;
}


a{
font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
color: #fcfbf8;
}

a:hover{
  color: #fcfbf8cc;
}
.logo{
height: 3vh;

}
header{
display: flex;
justify-content: space-between;
background-color: rgb(37, 33, 33);
height: 60px;
align-items: center;
width: 100%;
top: 0;
position: fixed;
  z-index: 9999;

}

.head-left{
margin-left: 8vh;
display: flex;
align-items: center;
gap: 6vh;
  color: rgb(234, 228, 228);
 
}
.head-left a img:hover{
  opacity: 0.7;
}
.head-left p:hover{
  opacity: 0.7;
}

.head-right{
   margin-right: 60px;

}
.head-right a{

  border: 1px solid rgb(163, 160, 160);
  padding: 1vh 2vh;
 margin: 0vh 0.7vh;
 border-radius: 6px;

}
#get{
  background-color:#fcfbf8;
  color: black;
}

#get:hover{
background-color: #fcfbf833;
}

main{
  width: 800px;
  height: 400px;
margin-top: 20vh;
margin-left: 55vh;
background: transparent;

}

.main-content{
display: flex;
justify-content: center;
}

main a{
  height: 30px;
  padding: 4px;
margin-top: 28px;
  background-color: #383c41;
  border-radius: 8px;
}
span{
  background-color: #1e44ad;
  border-radius: 6px;
  margin-right: 1vh;
  padding: 2px;

}

.search-lovable input{
margin-top: 20px;
  background-color: #0d141d;
  border-radius: 30px;
  height: 20vh;
  width: 110vh;
  color: aliceblue;
}
.hp{

  text-align: center;
  color: aliceblue;
  font-size:200%;
  margin-top: 40px;

}

.search-lovable{

  position: absolute;
}
 
.search-lovable  input{
position: relative;
font-size: larger;
background-color: #2a2626;
}

.search-lovable {
position: relative;
top: 40px;
left: 20px;
display: flex;
justify-content: space-between;

}

.search-lovable label{
color: #c6c3b9;
  position: absolute;
  bottom: 15vh;
  left: 4vh;
 transition: all 0.2s ease-in-out;
 
}


.search-lovable input:focus + label{

  font-size: 12px;
  opacity: 0.4;
color: transparent;
}

.search-lovable i{
position: relative;
bottom:5vh;
left: 4vh;
cursor: pointer;
font-size: medium;
color: #6e7072;


}

.input-element i{
position: relative;
display: flex;
top: 15vh;
left: -7vh;

}


.input-element a{
 position: relative;
top: 18vh;
right: 17vh; 
}

.head-left p{
font-family: Arial, Helvetica, sans-serif;
  color: #fcfbf8;
  cursor: pointer;
}

.head-left p i{
  transition: rotate 0.2s ease-in-out;
} 
.head-left p:hover i{
  rotate: 180deg;
}


.pricing{
display: flex;
flex-direction: column;

}

.pricingdiv2 select{
margin-top: 20px;


}


.solution-main{
  position: relative;
}
.solution-child{
position: absolute;
display: none;
 background-color: #1b1919;
 gap: 12px;
 top: 5.5vh;
  padding: 16px;
  border-radius: 20px;
  width: 250px;
  height: 250px;
}

.solution-main p:hover + .solution-child{
display: flex;
flex-direction: column;
background-color: #1b1919;
 border: 1px solid rgb(165, 159, 159);
}
.resources-container{
  position: relative;
}
.resources-options{
  position: absolute;
  top: 5.5vh;
  display: none;
  background-color: #1b1919;
  gap: 12px;
  padding: 16px;
  border-radius: 20px;
  width: 250px;
  height: 150px;
}



.resources-container p:hover + .resources-options {
  display: flex;
  flex-direction: column;
   
   border: 1px solid rgb(165, 159, 159);
  
}
.resources-container p i {
  transition: rotate 150ms ease-in-out;
}

.resources-container p:hover i {
  rotate: 180deg;
}

.proto{display: flex;}
