*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #0d141d,
    #4b75e9,
    #fe90e7,
    #fd3499
  );
 
}




a{

  text-decoration: none;
color: aliceblue;
}

.logo{
height: 24px;

}
header{
display: flex;
justify-content: space-between;
background-color: rgb(37, 33, 33);
height: 60px;
align-items: center;

}

.head-left{
  margin-left: 60px;
display: flex;
gap: 40px;
  color: rgb(234, 228, 228);
}

.head-right{
   margin-right: 60px;

}
.head-right a{

  border: 1px solid rgb(163, 160, 160);
  padding: 6px 14px;
 margin: 0px 4px;
 border-radius: 6px;

  
}
#get{
  background-color: aliceblue;
  color: black;
}

main{
  width: 800px;
  height: 400px;
margin-top: 20vh;
margin-left: 55vh;
background: transparent;

}

.main-content{
display: flex;
justify-content: center;
}

main a{
  height: 30px;
  padding: 4px;
margin-top: 28px;
  background-color: #383c41;
  border-radius: 8px;
}
span{
  background-color: #1e44ad;
  border-radius: 6px;
  margin-right: 1vh;
  padding: 2px;

}

.search-lovable input{
margin-top: 20px;
  background-color: #0d141d;
  border-radius: 30px;
  height: 20vh;
  width: 110vh;
  color: aliceblue;
}
.hp{

  text-align: center;
  color: aliceblue;
  font-size:200%;
  margin-top: 40px;

}