*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #243143,
    #4b75e9,
    #fe90e7,
    #fd3499
  );
  font-family: "Poppins", sans-serif;
}


a{
font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
color: #fcfbf8;
}

a:hover{
  color: #fcfbf8cc;
}
.logo{
height: 3vh;

}
header{
display: flex;
justify-content: space-between;
background-color: rgb(37, 33, 33);
height: 60px;
align-items: center;
width: 100%;
top: 0;
position: fixed;
  z-index: 9999;
backdrop-filter: blur(10px);

}

.head-left{
margin-left: 8vh;
display: flex;
align-items: center;
gap: 6vh;
  color: rgb(234, 228, 228);
 
}
.head-left a img:hover{
  opacity: 0.7;
}
.head-left p:hover{
  opacity: 0.7;
}

.head-right{
   margin-right: 60px;

}
.head-right a{

  border: 1px solid rgb(163, 160, 160);
  padding: 1vh 2vh;
 margin: 0vh 0.7vh;
 border-radius: 6px;

}
#get{
  background-color:#fcfbf8;
  color: black;
}

#get:hover{
background-color: #fcfbf833;
}

main{
  width: 800px;
  height: 400px;
margin-top: 20vh;
margin-left: 55vh;
background: transparent;

}

.main-content{
display: flex;
justify-content: center;
}

main a{
  height: 30px;
  padding: 4px;
margin-top: 28px;
  background-color: #383c41;
  border-radius: 8px;
}
span{
  background-color: #1e44ad;
  border-radius: 6px;
  margin-right: 1vh;
  padding: 2px;

}

.search-lovable input{
margin-top: 20px;
  background-color: #0d141d;
  border-radius: 30px;
  height: 20vh;
  width: 110vh;
  color: aliceblue;
}
.hp{

  text-align: center;
  color: aliceblue;
  font-size:200%;
  margin-top: 40px;

}

.search-lovable{

  position: absolute;
}
 
.search-lovable  input{
position: relative;

}

.head-left p{
font-family: Arial, Helvetica, sans-serif;
  color: #fcfbf8;
  cursor: pointer;
}

.head-left p i{
  transition: rotate 0.2s ease-in-out;
} 
.head-left p:hover i{
  rotate: 180deg;
}


.pricing{
display: flex;
flex-direction: column;

}

.pricingdiv2 select{
margin-top: 20px;


}