*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;

background: radial-gradient(
  circle at center,
 
  #ff8a1f 0%,
  #ff2f92 30%,
  #ff6ec7 48%,
  #828eaf 68%,
  #2b4eff 82%,
  #0b1020 100%
);


}



a{
font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
color: #fcfbf8;
}

a:hover{
  color: #fcfbf8cc;
}
.logo{
height: 3vh;

}
header{
display: flex;
justify-content: space-between;
background-color: rgb(37, 33, 33);
height: 60px;
align-items: center;
width: 100%;
top: 0;
position: fixed;
  z-index: 9999;
backdrop-filter: blur(82px);
 
  transition: all 0.3 ease-in-out;
}


.head-left{
margin-left: 8vh;
display: flex;
align-items: center;
gap: 6vh;
  color: rgb(234, 228, 228);
 
}
.head-left a img:hover{
  opacity: 0.7;
}
.head-left p:hover{
  opacity: 0.7;
}

.head-right{
   margin-right: 60px;

}
.head-right a{

  border: 1px solid rgb(163, 160, 160);
  padding: 1vh 2vh;
 margin: 0vh 0.7vh;
 border-radius: 6px;

}
#get{
  background-color:#fcfbf8;
  color: black;
}

#get:hover{
background-color: #fcfbf833;
}

main{
  width: 800px;
  height: 400px;

margin-left: 55vh;
background: transparent;

}

.main-content{
display: flex;
justify-content: center;
}


.main-content i{

  transition: all 0.8 ease-in-out;
}
.main-content a:hover i{

translate: 5px;
}

main a{
  height: 30px;
  padding: 4px;
margin-top: 28px;
  background-color: #383c41;
  border-radius: 8px;
}
span{
  background-color: #1e44ad;
  border-radius: 6px;
  margin-right: 1vh;
  padding: 2px;

}

.hp{

  text-align: center;
  color: aliceblue;
  font-size:200%;
 
margin-top: 20vh;
}


.head-left p{
font-family: Arial, Helvetica, sans-serif;
  color: #fcfbf8;
  cursor: pointer;
}

.head-left p i{
  transition: rotate 0.2s ease-in-out;
} 
.head-left p:hover i{
  rotate: 180deg;
}


.pricing{
display: flex;
flex-direction: column;

}

.pricingdiv2 select{
margin-top: 20px;


}


.solution-main{
  position: relative;
}
.solution-child{
position: absolute;
display: none;
 background-color: #1b1919;
 gap: 12px;
 top: 5.5vh;
  padding: 16px;
  border-radius: 20px;
  width: 250px;
  height: 250px;
}

.solution-main p:hover + .solution-child{
display: flex;
flex-direction: column;
background-color: #1b1919;
 border: 1px solid rgb(165, 159, 159);
}
.resources-container{
  position: relative;
}
.resources-options{
  position: absolute;
  top: 5.5vh;
  display: none;
  background-color: #1b1919;
  gap: 12px;
  padding: 16px;
  border-radius: 20px;
  width: 250px;
  height: 150px;
}



.resources-container p:hover + .resources-options {
  display: flex;
  flex-direction: column;
   
   border: 1px solid rgb(165, 159, 159);
  
}
.resources-container p i {
  transition: rotate 150ms ease-in-out;
}

.resources-container p:hover i {
  rotate: 180deg;
}

.proto{display: flex;}

.input-container {
background-color: #2f2f2e;
  width: 56vw;
  height: 24vh;
  border-radius: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}

.input-container input {
  width: 100%;
  height: 28px;
  position: relative;
  background-color: #2f2f2e;
  border: none;
  outline: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  top: 6vh;
  transition: all 0.2s ease-in-out;
}

.input-container input::placeholder {
  color: #e4e4e4;

}
.input-container input:focus{

font-size: 16px;
  top: 4px;

}

.input-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.voice-svg svg {
  width: 20px;
  height: 20px;
  color: white;
background-color: #2f2f2e;
 
}

.extra-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.box {

  position: relative;
  height: 100%;
  background-color: #181810;
  color: #fcfbf8;
  padding: 2vh;
 
}

.view{
  position: relative;
  bottom: 4vh;
  text-align: end;
  padding-right: 10vh;

}

.view a:hover{
  background-color: #58585789;
}
.view a{
padding: 1.8vh;

  color: #fcfbf8;
  border-radius: 2vh;
}
.box-head p{
  color: #a7acb1;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.box1{
display: flex;

justify-content: space-between;
position: relative;
gap: 2vh;
  height: 200px;
  width: 50px;

}

.box-head{
padding: 2vh;
color: #fcfbf8;
font-family: Arial, Helvetica, sans-serif;
font-weight: 300;
}

.box2{

  display: flex;

justify-content: space-between;
position: relative;

  height: 200px;
  width: 50px;
gap: 2vh;

}

.box h3 {
position: relative;
top: 4.2vh;

}
.box-para{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 2vh;
 
}

.box-para2{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 2vh;
 
}
.box1 img{
width: 50vh;
border-radius: 2vh;
}

.box-para span{
background-color: #151514;
}


.box2 img{
position: relative;
top: 6vh;
width: 50vh;
gap: 2vh
;
margin-right: 7.4px;
bottom: 4vh;
border-radius: 2vh;
}

footer{
background-color:#151514;
height: 100vh;
padding: 4vh;
}
footer nav{
background-color: #2b2b2cd8;
border-radius: 4vh;
display: flex;
justify-content: space-around;
height: 80vh;
position: relative;
gap: 4vh;
top: 8vh;
padding-top: 10vh;
color: #d6d4cf;

}

.foot-logo{
 display: flex; 
 flex-direction: column;
 justify-content: space-between;
}

.foot-logo p{
position: relative;
bottom: 14vh;
cursor: pointer;
color: #78786f;
}
.foot-logo img{

  width: 6vh;
transition: rotate 70deg;
}

nav ul{
margin-top: 2vh;

}
nav li{
margin-top: 2vh;
list-style: none;
cursor: pointer;
}

nav li:hover{

  color: #959590;
}
nav h5{
  color:#a5a5a3;
  font-weight: 600;
}